Source: ros-kilted-sros2
Section: misc
Priority: optional
Maintainer: ROS Security Working Group <ros-security@googlegroups.com>
Build-Depends: debhelper (>= 9.0.0), python3-pytest <!nocheck>, ros-kilted-ament-copyright <!nocheck>, ros-kilted-ament-flake8 <!nocheck>, ros-kilted-ament-mypy <!nocheck>, ros-kilted-ament-pep257 <!nocheck>, ros-kilted-ros-testing <!nocheck>, ros-kilted-test-msgs <!nocheck>, ros-kilted-ros-workspace, python3-all, python3-setuptools, dh-python
Homepage: 
Standards-Version: 3.9.2

Package: ros-kilted-sros2
Architecture: any
Depends: ${python3:Depends}, ${misc:Depends}, python3-argcomplete, python3-cryptography, python3-importlib-resources, python3-lxml, ros-kilted-ament-index-python, ros-kilted-rclpy, ros-kilted-ros2cli, ros-kilted-ros-workspace
Description: Command line tools for managing SROS2 keys
