Source: ros-r2b3-sros2
Section: misc
Priority: extra
Maintainer: Morgan Quigley <morgan@osrfoundation.org>
Build-Depends: debhelper (>= 9.0.0), ros-r2b3-ament-copyright, ros-r2b3-ament-flake8, ros-r2b3-ament-pep257, ros-r2b3-ros2cli, ros-r2b3-ros-workspace, python3-all, python3-setuptools
Homepage: 
Standards-Version: 3.9.2

Package: ros-r2b3-sros2
Architecture: any
Depends: ${python3:Depends}, ${misc:Depends}, openssl, ros-r2b3-ros2cli, ros-r2b3-ros-workspace
Description: Command line tools for managing SROS2 keys
